<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecast</title>
    <style>
        #main>div{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="logo" style="text-align:center">
        <img src="static/img/logo.jpg" alt="logo.jpg" width="310" height="190">
    </div>
    <div>
        <form method="post" role="form">
            <div class="form-group" style="text-align:center">
                <input type="text" class="form-control" name="text" placeholder="Input the name of the city">            
                <input type="submit" name="submit" value="Search" class="btn btn-success">
            
            </div>
        </form>
        <br/>
    </div>
    <div class="info" style="text-align:center">
        {% if search_error %}
            <h2> This city ​​not found! Try again! </h2>
        {% else %}
            <h2> Air temperature in {{ city }}: {{ temperature }}°C </h2>
            <div id="main", style="text-align:center">
                {% for day in prognosis %}
                    <div width="150" height="200">
                        <dl><h4> {{ day.day_name }} </h4></dl>
                        <dl><img src="static/img/{{ day.description }}.jpg" alt="{{ day.description }}" width="110" height="110"></dl>
                        <dl><b>{{ day.temp_max }}°</b> {{ day.temp_min }}°</dl>
                    </div>
                {% endfor %}


    </div>

        {% endif %}
    </div>

</body>
</html>
